// SECTION SHOT AT EMPORIUM
.bg_image1 {
    div:nth-of-type(1) {
        background-color: $baniereColor;
    }
    div:nth-of-type(2) {
        background-color: $baniereColor;

        p:nth-of-type(1) {
            font-size: 50px;
    
            color: $pamplemousse;
        }
        img {
            height: 100px;
        }
        button {
            background-color: $pamplemousse;
            color: white;
        }
    }
    div:nth-of-type(3) {
        background-repeat: no-repeat;
        background-size: cover;
    }
    div:nth-of-type(4) {
        background-color: $baniereColor;
    }
}
.cards {
    div {
        transition: transform 1s, filter 1s;

        div {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        
            width: 100%;
            height: 300px;
        
            p::after {
                content: "";
                background-color: white;
        
                width: 500px;
                height: 4px;
        
                position: absolute;
        
                left: 50%;
                transform: translate(-50%);
                top: 120%;
    
                transition: width 1s;
            }
        }
    }
    .hover {
        div {
            filter: brightness(50%);

            transform: scale(150%);
        }
        p::after {
            width: 50px;
        } 
    }
}