#sec_products_cards {
    .ligne1 {
        .produit {
            .sale {
                background-color: $pamplemousse;
                color: white;

                line-height: 40px;
            }
            div {
                p:nth-child(2) {
                    s {
                        color: grey;
                    }
                    color: $pamplemousse;
                }
            }
        }
    }
    .ligne2 {
        .produit {
            .sale {
                background-color: $pamplemousse;
                color: white;

                line-height: 40px;
            }
            div {
                p:nth-child(2) {
                    s {
                        color: grey;
                    }
                    color: $pamplemousse;
                }
            }
        }
    }
    .prix {
        color: $pamplemousse;
    }
}
